<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cd_background</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>255</real>
		<key>color</key>
		<false/>
		<key>cornerRadius</key>
		<integer>0</integer>
		<key>enabled</key>
		<false/>
		<key>full</key>
		<false/>
		<key>green</key>
		<real>255</real>
		<key>image</key>
		<true/>
		<key>imageAlpha</key>
		<real>100</real>
		<key>is3D</key>
		<true/>
		<key>picture</key>
		<string></string>
		<key>red</key>
		<real>254.99897766113281</real>
		<key>tile</key>
		<false/>
	</dict>
	<key>cd_badges</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>0.0</real>
		<key>trash</key>
		<true/>
	</dict>
	<key>cd_border</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>255</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>255</real>
		<key>red</key>
		<real>254.99897766113281</real>
		<key>size</key>
		<integer>1</integer>
	</dict>
	<key>cd_darkenInactive</key>
	<true/>
	<key>cd_darkenMouseOver</key>
	<true/>
	<key>cd_folders</key>
	<dict>
		<key>alpha</key>
		<real>80.200714111328125</real>
		<key>blue</key>
		<real>255</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>255</real>
		<key>red</key>
		<real>254.99897766113281</real>
	</dict>
	<key>cd_iconCloseReflection</key>
	<false/>
	<key>cd_iconOpenReflection</key>
	<true/>
	<key>cd_iconReflection</key>
	<false/>
	<key>cd_iconshadow</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>255</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>255</real>
		<key>red</key>
		<real>254.99897766113281</real>
		<key>size</key>
		<integer>10</integer>
	</dict>
	<key>cd_indicator</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>height</key>
		<integer>2</integer>
		<key>image</key>
		<false/>
		<key>picture</key>
		<false/>
		<key>red</key>
		<real>0.0</real>
		<key>resize</key>
		<false/>
		<key>width</key>
		<integer>7</integer>
	</dict>
	<key>cd_labels</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>255</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>255</real>
		<key>red</key>
		<real>254.99897766113281</real>
		<key>show</key>
		<false/>
	</dict>
	<key>cd_mission</key>
	<dict>
		<key>alpha</key>
		<real>0.0</real>
		<key>blue</key>
		<real>255</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>expand</key>
		<true/>
		<key>green</key>
		<real>255</real>
		<key>red</key>
		<real>254.99897766113281</real>
	</dict>
	<key>cd_separator</key>
	<dict>
		<key>alpha</key>
		<real>0.0</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>full</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>0.0</real>
	</dict>
	<key>cd_showFinder</key>
	<true/>
	<key>cd_showFrost</key>
	<false/>
	<key>cd_showGlass</key>
	<false/>
	<key>cd_showTrash</key>
	<true/>
	<key>cd_switcher</key>
	<dict>
		<key>alpha</key>
		<real>0.0</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>0.0</real>
	</dict>
</dict>
</plist>
