<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cd_background</key>
	<dict>
		<key>alpha</key>
		<real>64.970497131347656</real>
		<key>blue</key>
		<real>255</real>
		<key>color</key>
		<true/>
		<key>cornerRadius</key>
		<integer>0</integer>
		<key>enabled</key>
		<false/>
		<key>full</key>
		<false/>
		<key>green</key>
		<real>255</real>
		<key>image</key>
		<false/>
		<key>imageAlpha</key>
		<real>0.0</real>
		<key>is3D</key>
		<false/>
		<key>picture</key>
		<string></string>
		<key>red</key>
		<real>254.99897766113281</real>
		<key>tile</key>
		<false/>
	</dict>
	<key>cd_badges</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>90.848114013671875</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>177.64764404296875</real>
		<key>red</key>
		<real>255</real>
		<key>trash</key>
		<true/>
	</dict>
	<key>cd_border</key>
	<dict>
		<key>alpha</key>
		<real>50.193233489990234</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>0.0</real>
		<key>size</key>
		<integer>1</integer>
	</dict>
	<key>cd_darkenInactive</key>
	<false/>
	<key>cd_darkenMouseOver</key>
	<false/>
	<key>cd_folders</key>
	<dict>
		<key>alpha</key>
		<real>85</real>
		<key>blue</key>
		<real>121.28830718994141</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>121.2899169921875</real>
		<key>red</key>
		<real>121.28691101074219</real>
	</dict>
	<key>cd_iconCloseReflection</key>
	<true/>
	<key>cd_iconOpenReflection</key>
	<false/>
	<key>cd_iconReflection</key>
	<false/>
	<key>cd_iconshadow</key>
	<dict>
		<key>alpha</key>
		<real>50</real>
		<key>blue</key>
		<real>174</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>71</real>
		<key>red</key>
		<real>255</real>
		<key>size</key>
		<integer>10</integer>
	</dict>
	<key>cd_indicator</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>31.635288238525391</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>255</real>
		<key>height</key>
		<integer>2</integer>
		<key>image</key>
		<true/>
		<key>picture</key>
		<false/>
		<key>red</key>
		<real>34.522853851318359</real>
		<key>resize</key>
		<false/>
		<key>width</key>
		<integer>7</integer>
	</dict>
	<key>cd_labels</key>
	<dict>
		<key>alpha</key>
		<real>90.481636047363281</real>
		<key>blue</key>
		<real>234.96745300292969</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>234.97042846679688</real>
		<key>red</key>
		<real>234.96490478515625</real>
		<key>show</key>
		<true/>
	</dict>
	<key>cd_mission</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>90.848114013671875</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>expand</key>
		<true/>
		<key>green</key>
		<real>177.64764404296875</real>
		<key>red</key>
		<real>255</real>
	</dict>
	<key>cd_separator</key>
	<dict>
		<key>alpha</key>
		<real>50</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<true/>
		<key>full</key>
		<true/>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>0.0</real>
	</dict>
	<key>cd_showFinder</key>
	<true/>
	<key>cd_showFrost</key>
	<false/>
	<key>cd_showGlass</key>
	<false/>
	<key>cd_showTrash</key>
	<true/>
	<key>cd_switcher</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>90.848114013671875</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>177.64764404296875</real>
		<key>red</key>
		<real>255</real>
	</dict>
</dict>
</plist>
