<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppPathAsFirstArg</key>
	<true/>
	<key>Creator</key>
	<string>Platypus-4.5</string>
	<key>DropSuffixes</key>
	<array>
		<string>*</string>
	</array>
	<key>DropTypes</key>
	<array>
		<string>****</string>
		<string>fold</string>
	</array>
	<key>Droppable</key>
	<true/>
	<key>InterpreterParams</key>
	<array/>
	<key>OutputType</key>
	<string>Text Window</string>
	<key>RemainRunningAfterCompletion</key>
	<true/>
	<key>RequiresAdminPrivileges</key>
	<true/>
	<key>ScriptInterpreter</key>
	<string>/bin/sh</string>
	<key>Secure</key>
	<true/>
	<key>TextBackground</key>
	<string>#ffffff</string>
	<key>TextEncoding</key>
	<integer>4</integer>
	<key>TextFont</key>
	<string>Monaco</string>
	<key>TextForeground</key>
	<string>#000000</string>
	<key>TextSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKIHCFUkbnVsbE8ROPcjIS9iaW4vc2gKIwojCiNTZXQgZW52IHZhcmlhYmxlIExB
	Tkc9cnVfUlUuVVRGLTggZm9yIGNvcnJlY3QgZGlzcGxheSBjeXJpbGxpYyBmaWxlIG5h
	bWVzCiNleHBvcnQgTEFORz1ydV9SVS5VVEYtOAojZWNobyAiJHsyfSIKCldvcmtEaXIx
	PSIvU3lzdGVtL0xpYnJhcnkvRXh0ZW5zaW9ucyIKV29ya0RpcjI9Ii9FeHRyYS9FeHRl
	bnNpb25zIgoKTWtleHRQYXRoPSIvU3lzdGVtL0xpYnJhcnkvRXh0ZW5zaW9ucy5ta2V4
	dCIKU25vd0xlb01rZXh0PSIvU3lzdGVtL0xpYnJhcnkvQ2FjaGVzL2NvbS5hcHBsZS5r
	ZXh0LmNhY2hlcy9TdGFydHVwL0V4dGVuc2lvbnMubWtleHQiCgpMZW9DYWNoZUZpbGU9
	Ii9TeXN0ZW0vTGlicmFyeS9FeHRlbnNpb25zLm1rZXh0IgpTbm93TGVvQ2FjaGVGaWxl
	PSIvU3lzdGVtL0xpYnJhcnkvQ2FjaGVzL2NvbS5hcHBsZS5rZXh0LmNhY2hlcy9TdGFy
	dHVwL0V4dGVuc2lvbnMubWtleHQiCkxpb25DYWNoZUZpbGU9Ii9TeXN0ZW0vTGlicmFy
	eS9DYWNoZXMvY29tLmFwcGxlLmtleHQuY2FjaGVzL1N0YXJ0dXAva2VybmVsY2FjaGUi
	ClN5c3RlbUNhY2hlRmlsZT0iIgpTeXN0ZW1OYW1lPSIiCgpLZXJuT1NSZWxlYXNlPWBz
	eXNjdGwgLW4ga2Vybi5vc3JlbGVhc2UgfCBjdXQgLWQgIi4iIC1mMWAKCkZ1bGxEcm9w
	TmFtZT0iJHsyfSIKRGlyRHJvcE5hbWU9JChkaXJuYW1lICIke0Z1bGxEcm9wTmFtZX0i
	KQpCYXNlRHJvcE5hbWU9IiQoYmFzZW5hbWUgIiR7RnVsbERyb3BOYW1lfSIpIgpIb21l
	RGlyPX4KCiMjIyBSZWxlYXNlLVR5cGUgVmFyaWFibGVzICMjIwoKUFJPR1JBTT0kKGJh
	c2VuYW1lICIkMSIpClZlcnNpb249IjIuNS4xIgpDcmVhdG9yPSJjVmFkIgpSZWxlYXNl
	ZD0iMjAwOC0yMDEyIgoKbWVtb01TRygpIHsKCSMgUHJvZ3JhbW0gYXR0cmlidXRlcwpj
	YXQgPDwgRU9GCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC0tIEtleHQgVXRp
	bGl0eSAtLQogICAgICAgICAgICAgICAgICAgICAgICAgICAgICBNYWMgT1MgWCAxMC41
	LTEwLjgKICAgICAgICAgICAgICAgICAgICAgICAgICAgdiRWZXJzaW9uIMKpICRDcmVh
	dG9yICRSZWxlYXNlZAogICAgICAgICAgICAgICAgICAgICAgRmFzdCByZXBhaXIgYWxs
	IEtleHRzIHBlcm1pc3Npb25zCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIFNM
	RSBLZXh0cyBJbnN0YWxsZXIKICAgICAgICAgICAgICAgICAgICAgICAgICAgICBNa2V4
	dCBQYWNrZXIvVW5QYWNrZXIKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgY3Zh
	ZC1tYWMubmFyb2QyLnJ1CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICB3d3cu
	YXBwbGVsaWZlLnJ1CgpFT0YKfQoKU3lzdGVtU3BlY01TRygpIHsKCiNCbG9jayBzaG93
	IHN5c3RlbSBzcGVjaWZpY2F0aW9ucwpLRVJOX1ZlcnNpb249YGVjaG8gJChzeXNjdGwg
	LW4ga2Vybi52ZXJzaW9uIHwgY3V0IC1kICI7IiAtZjEpYApNYWNoaW5lSGFyZHdhcmVO
	YW1lPWB1bmFtZSAtbWAKCk1PREVMX0lEPWBzeXNjdGwgLW4gaHcubW9kZWxgCgpQcm9k
	dWN0TmFtZT1gc3dfdmVycyB8Z3JlcCBQcm9kdWN0TmFtZWAKUHJvZHVjdFZlcnNpb249
	YGVjaG8gJChzd192ZXJzIHxncmVwIFByb2R1Y3RWZXJzaW9uKWAKQnVpbGRWZXJzaW9u
	PWBlY2hvICQoc3dfdmVycyB8Z3JlcCBCdWlsZFZlcnNpb24pYAoKVXNlcj0kVVNFUgpL
	RVJOX0hvc3RuYW1lPWBzeXNjdGwgLW4ga2Vybi5ob3N0bmFtZWAKS0VSTl9Cb290YXJn
	cz1gc3lzY3RsIC1uIGtlcm4uYm9vdGFyZ3NgCgpDUFVfVFlQRT0iYHN5c2N0bCAtbiBt
	YWNoZGVwLmNwdS5icmFuZF9zdHJpbmcgfCBzZWQgJ3MvICAqLyAvZydgIgpDUFVfRkVB
	VFVSRVM9ImBzeXNjdGwgLW4gbWFjaGRlcC5jcHUuZmVhdHVyZXNgIGBzeXNjdGwgLW4g
	bWFjaGRlcC5jcHUuZXh0ZmVhdHVyZXNgIgpDUFVGcmVxdWVuY3lfTUFYPSQoKGBzeXNj
	dGwgLW4gaHcuY3B1ZnJlcXVlbmN5X21heGAvMTAwMDAwMCkpCkNQVUZyZXF1ZW5jeV9N
	SU49JCgoYHN5c2N0bCAtbiBody5jcHVmcmVxdWVuY3lfbWluYC8xMDAwMDAwKSkKQ1BV
	RnJlcXVlbmN5PSQoKGBzeXNjdGwgLW4gaHcuY3B1ZnJlcXVlbmN5YC8xMDAwMDAwKSkK
	QlVTRnJlcXVlbmN5RlNCPSQoKGBzeXNjdGwgLW4gaHcuYnVzZnJlcXVlbmN5YC8xMDAw
	MDAwKSkKQlVTRnJlcXVlbmN5PSQoKCRCVVNGcmVxdWVuY3lGU0IvNCkpCk1VTFRJUExJ
	RVJfTUFYPSQoZWNobyAic2NhbGU9MTsgNCokQ1BVRnJlcXVlbmN5X01BWC8kQlVTRnJl
	cXVlbmN5RlNCIiB8IGJjKQpNVUxUSVBMSUVSX01JTj0kKGVjaG8gInNjYWxlPTE7IDQq
	JENQVUZyZXF1ZW5jeV9NSU4vJEJVU0ZyZXF1ZW5jeUZTQiIgfCBiYykKQ2FjaGVfTDI9
	JCgoYHN5c2N0bCAtbiBtYWNoZGVwLmNwdS5jYWNoZS5zaXplYC8xMDI0KSkKQ1BVU2ln
	bmF0dXJlPSJgc3lzY3RsIC1uIG1hY2hkZXAuY3B1LnNpZ25hdHVyZWAiCkNQVVNpZ25h
	dHVyZUhleD0kKGVjaG8gIm9iYXNlPTE2OyAkQ1BVU2lnbmF0dXJlIiB8IGJjKQoKTUVN
	U0laRT0kKChgc3lzY3RsIC1uIGh3Lm1lbXNpemVgLzEwNDg1NzYpKQpTd2FwVXNhZ2U9
	ImBzeXNjdGwgLW4gdm0uc3dhcHVzYWdlYCIKSGliZXJuYXRlTW9kZT0iYHN5c2N0bCAt
	biBrZXJuLmhpYmVybmF0ZW1vZGVgIgoKI0Jvb3RhcmdzICAgICA6ICR7S0VSTl9Cb290
	YXJnc30gIyBzY3JpcHQgbm90IHdvcmsgaW4gMTAuOCB3aXRoIG5vbiB1dGY4IGFyZ3MK
	CmNhdCA8PCBFT0YKUHJvZHVjdE5hbWUgIDogTWFjIE9TIFggJFByb2R1Y3RWZXJzaW9u
	ICRCdWlsZFZlcnNpb24KS2VybmVsICAgICAgIDogJEtFUk5fVmVyc2lvbgpNb2RlbCBJ
	RCAgICAgOiAkTU9ERUxfSUQgS2VybmVsTW9kZTogJE1hY2hpbmVIYXJkd2FyZU5hbWUK
	Q1BVIFRZUEUgICAgIDogJHtDUFVfVFlQRX0KQ29yZSAgICAgICAgIDogJHtDUFVGcmVx
	dWVuY3lfTUFYfU1IeiBCdXM6ICR7QlVTRnJlcXVlbmN5fU1IeiBGU0I6ICR7QlVTRnJl
	cXVlbmN5RlNCfU1IegpDUFUgSUQgICAgICAgOiBPeCRDUFVTaWduYXR1cmVIZXggKCRD
	UFVTaWduYXR1cmUpIENhY2hlIEwyOiAke0NhY2hlX0wyfU1iClJBTSAgICAgICAgICA6
	ICR7TUVNU0laRX1NYiBIaWJlcm5hdGVNb2RlOiAkSGliZXJuYXRlTW9kZQpTd2FwVXNh
	Z2UgICAgOiAkU3dhcFVzYWdlClVzZXIgICAgICAgICA6ICRVU0VSIG9uICRLRVJOX0hv
	c3RuYW1lCgpFT0YKCn0KClN0YXJ0TVNHKCkgewoKVGVzdF9UaW1lPWBlY2hvICQoZGF0
	ZSAiKyVZLSVtLSVkICVIOiVNOiVTICV6IilgCgpjYXQgPDwgRU9GClN0YXJ0IHdvcmtp
	bmc6ICRUZXN0X1RpbWUKRU9GCgojICAgICAgIExlb3BhcmQgICAgICAgIC0gIDksCiMg
	ICAgICAgU25vdyAgTGVvcGFyZCAgLSAxMCwKIyAgICAgICBMaW9uICAgICAgICAgICAt
	IDExCiMgICAgICAgTW91bnRhaW4gTGlvbiAgLSAxMgoKY2FzZSAiJHtLZXJuT1NSZWxl
	YXNlfSIgaW4KICAgIFswLThdKQoJCWVjaG8gIkRldGVjdGVkIC4uLiB1bnN1cHBvcnRl
	ZCBNQUMgT1MgWCBzeXN0ZW0uIgogICAgICAgICAgICAgICAgU3lzdGVtTmFtZT0idW5z
	dXBwb3J0ZWQgTUFDIE9TIFggc3lzdGVtIgogICAgICAgIDs7CiAgICA5KQoJCWVjaG8g
	IkRldGVjdGVkICAuLi4gIE1BQyBPUyBYIFwiTGVvcGFyZFwiLiIKICAgICAgICAgICAg
	ICAgIFN5c3RlbUNhY2hlRmlsZT0iJHtMZW9DYWNoZUZpbGV9IgogICAgICAgICAgICAg
	ICAgU3lzdGVtTmFtZT0iTUFDIE9TIFggXCJMZW9wYXJkXCIiCiAgICAgICAgOzsKICAg
	IDEwKQoJCWVjaG8gIkRldGVjdGVkICAuLi4gIE1BQyBPUyBYIFwiU25vdyBMZW9wYXJk
	XCIuIgogICAgICAgICAgICAgICAgU3lzdGVtQ2FjaGVGaWxlPSIke1Nub3dMZW9DYWNo
	ZUZpbGV9IgogICAgICAgICAgICAgICAgU3lzdGVtTmFtZT0iTUFDIE9TIFggXCJTbm93
	IExlb3BhcmRcIiIKICAgICAgICA7OwogICAgMTEpCgkJZWNobyAiRGV0ZWN0ZWQgIC4u
	LiAgTUFDIE9TIFggXCJMaW9uXCIuIgogICAgICAgICAgICAgICAgU3lzdGVtQ2FjaGVG
	aWxlPSIke0xpb25DYWNoZUZpbGV9IgogICAgICAgICAgICAgICAgU3lzdGVtTmFtZT0i
	TUFDIE9TIFggXCJMaW9uXCIiCiAgICAgICAgOzsKICAgIDEyKQoJCWVjaG8gIkRldGVj
	dGVkICAuLi4gIE1BQyBPUyBYIFwiTW91bnRhaW4gTGlvblwiLiIKICAgICAgICAgICAg
	ICAgIFN5c3RlbUNhY2hlRmlsZT0iJHtMaW9uQ2FjaGVGaWxlfSIKICAgICAgICAgICAg
	ICAgIFN5c3RlbU5hbWU9Ik1BQyBPUyBYIFwiTW91bnRhaW4gTGlvblwiIgogICAgICAg
	IDs7CiAgICBbMTMtMjBdKQoJCWVjaG8gIkRldGVjdGVkICAuLi4gIE1BQyBPUyBYIFwi
	VW5rbm93blwiLiIKICAgICAgICAgICAgICAgICBTeXN0ZW1OYW1lPSJNQUMgT1MgWCBc
	IlVua25vd25cIiIKICAgICAgICA7Owplc2FjCgplY2hvCn0KCkVyck1TRygpIHsJCgoJ
	bWVtb01TRwoJdXNhZ2UKfQoKdXNhZ2UoKSB7CgkjIFVzYWdlIGZvcm1hdApjYXQgPDxF
	T0YKICAgICBVc2FnZTogCgogICAgIDEuIERyb3AgQU5ZIGZpbGVzIHdpdGggdmFsaWQg
	ZXh0ZW5zaW9uICgqLmtleHQ7ICoucGx1Z2luOyAqLmJ1bmRsZTsKICAgICAgICAqLnBw
	cCkgb24gYXBwIGljb24uCiAgICAgICAgSXQgd2lsbCBiZSBpbnN0YWxsZWQgdG8gIi9T
	eXN0ZW0vTGlicmFyeS9FeHRlbnNpb25zLyIgZm9sZGVyLgogICAgIDIuIEZvciBSZXBh
	aXIgc3lzdGVtcyBhbmQgIi9FeHRyYS9FeHRlbnNpb25zIiBrZXh0cyBwZXJtaXNzaW9u
	cywKICAgICAgICBzaW1wbHkgcnVuIHRoZSBhcHAgLi4uCiAgICAgMy4gRm9yIFJlcGFp
	ciZQYWNrIEFOWSBmb2xkZXIgd2l0aCBrZXh0IGZpbGVzIHRvIG1rZXh0IGZpbGUsCiAg
	ICAgICAgZHJvcCB0aGlzIGZvbGRlciBvbiBhcHAgaWNvbi4KICAgICAgICJFeHRlbnNp
	b25zLm1rZXh0IiBmaWxlIHdpbGwgYmUgcGxhY2VkIG5lYXIgIkV4dGVuc2lvbnMiIGZv
	bGRlci4KICAgICA0LiBGb3IgVW5QYWNrIG1rZXh0IGZpbGVzLCBkcm9wIG1rZXh0IGZp
	bGUgb24gYXBwIGljb24uCiAgICAgICAgRm9sZGVyIHdpdGggeW91ciB1bnBhY2sga2V4
	dCBmaWxlcyB3aWxsIGJlIHBsYWNlZCBvbiB5b3VyIERlc2t0b3AuICAKRU9GCn0KClNl
	dFBlcm1pc3Npb25zTW9kKCkKeyAKCglDb3VudEZpbGVzPTAKCUNvdW50S2V4dD0wCglD
	b3VudFBwcD0wCglDb3VudFBsdWdpbj0wCglDb3VudEJ1bmRsZT0wCglDb3VudFBsaXN0
	PTAKCUNvdW50QmluPTAKCUFsbENvZGVGaWxlcz0wCgpJbkRpcj0kMQpwcmludGYgIlJl
	cGFpciBQZXJtaXNzaW9ucyBmb3IgXCIke0luRGlyfVwiIC4uLiIKCk9sZElGUz0kSUZT
	ICAgIyBzYXZlIG9sZCAkSUZTCklGUz0kJ1xuJyAgICAgIyBuZXcgJElGUyAgCgpzdGFy
	dHRpbWU9YGRhdGUgKyVzYAoKICAgIGZvciBmaWxlcyBpbiAkKGZpbmQgIiR7SW5EaXJ9
	IikKCSAgICBkbwoJICAgICAgICBjYXNlICIke2ZpbGVzfSIgaW4KCQkJCSoua2V4dCkg
	IGxldCAiQ291bnRLZXh0Kz0xIjsgIGNobW9kIDc1NSAiJHtmaWxlc30iOzsKCQkJCSpD
	b2RlRGlyZWN0b3J5fCpDb2RlUmVxdWlyZW1lbnRzfCpDb2RlUmVzb3VyY2VzfCpDb2Rl
	U2lnbmF0dXJlfCoucGxpc3R8Ki5zdHJpbmdzfCpQa2dJbmZvfCouaWNuc3wqLnRpZnwq
	LnRpZmYpCgkJCQlpZiBbWyAtZiAiJHtmaWxlc30iIF1dIAojICAgCQkJCUlmIGZpbGVz
	IChub3QgbGluaykgY2htb2QgNjQ0CgkJCQkJdGhlbiAKCQkJCQkJY2htb2QgNjQ0ICIk
	e2ZpbGVzfSIKIyAgIAkJCQlJZiBmaWxlcyBpcyBsaW5rIGNobW9kIC1oIDc1NQogICAg
	ICAgICAgICAgICAgICAgIGVsc2UKCQkJCQkJY2htb2QgLWggNzU1ICIke2ZpbGVzfSIK
	CQkJCWZpCgkJCQlsZXQgIkFsbENvZGVGaWxlcys9MSIKCQkJCTs7CgoJCQkJKikKCQkg
	ICAgICAgIGNobW9kIC1oIDc1NSAiJHtmaWxlc30iIDs7CgoJCQllc2FjCgoJCQljaG93
	biAtaCByb290OndoZWVsICIke2ZpbGVzfSIKCgkgICAgICAgIGxldCAiQ291bnRGaWxl
	cys9MSIKCQogICAgICAgICAgICBpZiBbICQoKENvdW50RmlsZXMvNDAwKjQwMCkpIC1l
	cSAke0NvdW50RmlsZXN9IF0gIyBjb3VudCB2ZXJ5IHF1aWNrbHkKCQkJCXRoZW4KCQkJ
	CQkgcHJpbnRmICIuIgoJCQlmaQoKICAgIAlkb25lCgpmaW5pc2h0aW1lPWBkYXRlICsl
	c2AKCklGUz0kT2xkSUZTICAgIyByZXR1cm4gb2xkICRJRlMKCnByaW50ZiAiIERvbmUu
	XG4iCgojIGVjaG8KZWNobyAiLS0gVG90YWwgcHJvY2Vzc2VkOiAke0NvdW50RmlsZXN9
	IGZpbGVzICgke0NvdW50S2V4dH0ga2V4dHMpIGZvciAkKCgkZmluaXNodGltZS0kc3Rh
	cnR0aW1lKSkgc2VjLiIKCmVjaG8KCn0KClN5c3RlbUNhY2hlVXBkYXRlKCkgewoKI2Vj
	aG8gIlN5c3RlbUNhY2hlVXBkYXRlKCkgLSAke1N5c3RlbUNhY2hlRmlsZX0iCiNlY2hv
	ICJTeXN0ZW1DYWNoZVVwZGF0ZSgpIERldGVjdGVkICAuLi4gICR7U3lzdGVtTmFtZX0i
	CgogICAgcHJpbnRmICJVcGRhdGluZyBzeXN0ZW0gY2FjaGVzICR7U3lzdGVtTmFtZX0i
	CiAgICAgICAgCiAgICBybSAtUmYgL1N5c3RlbS9MaWJyYXJ5L0NhY2hlcy9jb20uYXBw
	bGUuYm9vdHN0YW1wcy8qIDI+L2Rldi9udWxsCiAgICBybSAtUmYgL1N5c3RlbS9MaWJy
	YXJ5L0NhY2hlcy9jb20uYXBwbGUua2VybmVsY2FjaGVzLyogMj4vZGV2L251bGwKICAg
	IHJtIC1SZiAvU3lzdGVtL0xpYnJhcnkvQ2FjaGVzL2NvbS5hcHBsZS5rZXh0LmNhY2hl
	cy9EaXJlY3Rvcmllcy9TeXN0ZW0vTGlicmFyeS9FeHRlbnNpb25zLyogMj4vZGV2L251
	bGwKICAgIHJtIC1SZiAvU3lzdGVtL0xpYnJhcnkvQ2FjaGVzL2NvbS5hcHBsZS5rZXh0
	LmNhY2hlcy9TdGFydHVwLyogMj4vZGV2L251bGwKICAgIHJtIC1SZiAvU3lzdGVtL0xp
	YnJhcnkvRXh0ZW5zaW9ucy9DYWNoZXMvKiAyPi9kZXYvbnVsbAogICAgcm0gLWYgIiR7
	U3lzdGVtQ2FjaGVGaWxlfSIgMj4vZGV2L251bGwKICAgICAgICAKIyBmb3IgTElPTgoj
	dG91Y2ggIiR7V29ya0RpcjF9Igoja2lsbGFsbCAtSFVQIGtleHRkJgoja2V4dGNhY2hl
	IC1zeXN0ZW0tY2FjaGVzJgoja2V4dGNhY2hlIC11cGRhdGUtdm9sdW1lIC8gLWZvcmNl
	JgoKdG91Y2ggIiR7V29ya0RpcjF9IgpraWxsYWxsIC1IVVAga2V4dGQmCmtleHRjYWNo
	ZSAtc3lzdGVtLWNhY2hlcyAtbG9jYWwtcm9vdCYKa2V4dGNhY2hlIC1zeXN0ZW0tbWtl
	eHQgLWxvY2FsLXJvb3QmCgoja2V4dGNhY2hlIC1zeXN0ZW0tcHJlbGlua2VkLWtlcm5l
	bCYKCgogICAgY291bnQ9MAoKICAgIHdoaWxlIHNsZWVwIDEKICAgICAgICBkbwogICAg
	ICAgICAgICBpZiBbIC1mICIke1N5c3RlbUNhY2hlRmlsZX0iIF0KICAgICAgICAgICAg
	ICAgIHRoZW4KICAgICAgICAgICAgCQlwcmludGYgIiBEb25lXG4iCiAgICAgICAgCSAg
	ICAgICAJZWNobyAiLS0gQnVpbGQgdGltZSA9ICR7Y291bnR9c2VjLiIKICAgICAgICAg
	ICAgICAgICAgICByZXR1cm4KICAgICAgICAgICAgICAgIGVsc2UKICAgICAgICAgICAg
	ICAgICAgICBpZiBbICIkY291bnQiIC1ndCAiNTkiIF0KICAgICAgICAgICAgICAgICAg
	ICAgICAgdGhlbgogICAgICAgICAgICAgICAgICAgICAgICAgICAgcHJpbnRmICJUaW1l
	b3V0ICR7Y291bnR9c2VjLi4uXG4iCiAgICAgICAgICAgICAgICAgICAgICAgICAgICBl
	Y2hvICItLSBEb24ndCBXb3JyeSAtIG5vdGhpbmcgZmF0YWwuIgogICAgICAgICAgICAg
	ICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgICAgICAgICAgZmkKICAgICAg
	ICAJZmkKCiAgICAgICAJCWxldCAiY291bnQrPTEiCgogICAgICAgCQlpZiBbIGBleHBy
	ICIkY291bnQiICUgMmAgLWVxICIwIiBdCiAgICAgICAgICAgICAgICB0aGVuCiAgICAg
	ICAgICAgICAgICAgICAgcHJpbnRmICIuIgogICAgICAgICAgICBmaQoKICAgICAgICBk
	b25lCn0KCnBhY2tNa2V4dCgpIHsKCgkKCUZ1bGxEcm9wSW5EaXI9JDEKCURpckRyb3BJ
	bkRpcj0kKGRpcm5hbWUgIiR7RnVsbERyb3BJbkRpcn0iKSAKCUJhc2VEcm9wSW5EaXI9
	JChiYXNlbmFtZSAiJHtGdWxsRHJvcEluRGlyfSIpIAoJCmlmIFtbIGBmaW5kICIke0Z1
	bGxEcm9wSW5EaXJ9IiAtbmFtZSAqLmtleHRgIF1dCgogICAgdGhlbgpjYXQgPDxFT0YK
	VGFzazogUGFjayAiJHtGdWxsRHJvcEluRGlyfSIKICAgICAgICB0byAiJHtEaXJEcm9w
	SW5EaXJ9L0V4dGVuc2lvbnMubWtleHQiCkVPRgoJCQogICAgCWVjaG8KICAgIAkKICAg
	ICAgICBTZXRQZXJtaXNzaW9uc01vZCAiJHtGdWxsRHJvcEluRGlyfSIKCiAgICAgICAg
	aWYgWyAtZSAiJERpckRyb3BJbkRpci9FeHRlbnNpb25zLm1rZXh0IiBdCiAgICAgICAg
	ICAgIHRoZW4KICAgICAgICAgICAgICAgIHByaW50ZiAiQmFja1VwIFwiRXh0ZW5zaW9u
	cy5ta2V4dFwiIHRvIFwiRXh0ZW5zaW9ucy5iYWsubWtleHRcIiAuLi4gIgogICAgICAg
	ICAgICAgICAgbXYgLWYgIiREaXJEcm9wSW5EaXIvRXh0ZW5zaW9ucy5ta2V4dCIgIiRE
	aXJEcm9wSW5EaXIvRXh0ZW5zaW9ucy5iYWsubWtleHQiCiAgICAgICAgICAgICAgICBw
	cmludGYgIkRvbmUuXG4iCiAgICAgICAgICAgICAgICBlY2hvCiAgICAgICAgZmkKCQog
	ICAgCXRvdWNoICIkRnVsbERyb3BJbkRpciIKICAgIAkKICAgIAlzdGFydHRpbWU9YGRh
	dGUgKyVzYAoKICAgIAlpMzg2X3BwY19rZXh0cz0kKCBrZXh0ZmluZCAtLSAiJHtGdWxs
	RHJvcEluRGlyfSIgXCggLWFyY2gtZXhhY3QgaTM4NiAtb3IgLWFyY2gtZXhhY3QgcHBj
	LGkzODYgXCkgKSIiCiAgICAgICAgCgkJaWYgW1sgIiR7U25vd0xlb0V4aXN0fSIgPSAi
	bm8iIHx8ICEgIiIgPSAiJHtpMzg2X3BwY19rZXh0c30iIF1dCgojCQkJSWYgb25lIG9m
	IHRoZSBjb25kaXRpb25zIGlzIHRydWUgdGhlbgkKCQkJdGhlbgoJCQkJCXByaW50ZiAi
	Rm91bmQgaTM4NiAoYXJjaCkgb25seSBrZXh0KHMpLlxuIgoJCQkJCXByaW50ZiAiUGFj
	a2luZyBpMzg2IChhcmNoKSBcIkV4dGVuc2lvbnMubWtleHRcIiAuLi4gIgoJICAgIAkJ
	CQoJICAgIAkJCWlmICgga2V4dGNhY2hlIC1hIGkzODYgLXogLW0gIiREaXJEcm9wSW5E
	aXIvRXh0ZW5zaW9ucy5ta2V4dCIgIiRGdWxsRHJvcEluRGlyIiApIAoJICAgIAkJCQl0
	aGVuCgkgICAgCQkJCQlwcmludGYgIkRvbmUuXG4iCgkgICAgCQkJCQlmaW5pc2h0aW1l
	PWBkYXRlICslc2AKCQkgICAJIAkJCQllY2hvICItLSBCdWlsZCB0aW1lID0gJCgoJGZp
	bmlzaHRpbWUtJHN0YXJ0dGltZSkpIHNlYy4iCgkgICAgCQkJCQllY2hvCgkgICAgCQkJ
	CQlwcmludGYgIlJlcGFpciBcIkV4dGVuc2lvbnMubWtleHRcIiBwZXJtaXNzaW9uIC4u
	LiAiCgkgICAgCQkJCgkgICAgCQkJCQljaG1vZCAtUiA2NDQgIiREaXJEcm9wSW5EaXIv
	RXh0ZW5zaW9ucy5ta2V4dCIKCSAgICAJCQkJCWNob3duIC1SIHJvb3Q6d2hlZWwgIiRE
	aXJEcm9wSW5EaXIvRXh0ZW5zaW9ucy5ta2V4dCIKCSAgICAJCQkKCQkgICAgCQkJCXBy
	aW50ZiAiRG9uZS5cbiIKCSAgICAJCQkJCWVjaG8KCSAgICAJCQkJZWxzZSAKCSAgICAJ
	CQkJCWVjaG8KCSAgICAJCQkJCWVjaG8gIlNvcnJ5LCBjb3VsZCBub3QgY3JlYXRlIFwi
	RXh0ZW5zaW9ucy5ta2V4dFwiIgoJICAgIAkJCQkJZWNobwoJICAgIAkJCQkJcmV0dXJu
	CgkKCSAgICAJCQlmaQoJCQllbHNlCiMJCQkJCXByaW50ZiAiRm91bmQgaTM4Ni94ODZf
	NjQgKGFyY2gpIGtleHQocykuXG4iCgkJCQkJcHJpbnRmICJQYWNraW5nIGkzODYveDg2
	XzY0IChhcmNoKSBcIkV4dGVuc2lvbnMubWtleHRcIiAuLi4gIgoKIyAgICAgICAgICAg
	ICAgICAgICAvdXNyL3NiaW4va2V4dGNhY2hlIC16IC1tIC9FeHRyYS9FeHRlbnNpb25z
	Lm1rZXh0IC9FeHRyYS9FeHRlbnNpb25zLwkJCQkJCgkgICAgCQkJaWYgKCBrZXh0Y2Fj
	aGUgLXogLW0gIiREaXJEcm9wSW5EaXIvRXh0ZW5zaW9ucy5ta2V4dCIgIiRGdWxsRHJv
	cEluRGlyIiApIAoJICAgIAkJCQl0aGVuCgkgICAgCQkJCQlwcmludGYgIkRvbmUuXG4i
	CgkgICAgCQkJCQlmaW5pc2h0aW1lPWBkYXRlICslc2AKCQkgICAJIAkJCQllY2hvICIt
	LSBCdWlsZCB0aW1lID0gJCgoJGZpbmlzaHRpbWUtJHN0YXJ0dGltZSkpIHNlYy4iCgkg
	ICAgCQkJCQllY2hvCgkgICAgCQkJCQlwcmludGYgIlJlcGFpciBcIkV4dGVuc2lvbnMu
	bWtleHRcIiBwZXJtaXNzaW9uIC4uLiAiCgkgICAgCQkJCgkgICAgCQkJCQljaG1vZCAt
	UiA2NDQgIiREaXJEcm9wSW5EaXIvRXh0ZW5zaW9ucy5ta2V4dCIKCSAgICAJCQkJCWNo
	b3duIC1SIHJvb3Q6d2hlZWwgIiREaXJEcm9wSW5EaXIvRXh0ZW5zaW9ucy5ta2V4dCIK
	CSAgICAJCQkKCQkgICAgCQkJCXByaW50ZiAiRG9uZS5cbiIKCSAgICAJCQkJCWVjaG8K
	CSAgICAJCQkJZWxzZSAKCSAgICAJCQkJCWVjaG8KCSAgICAJCQkJCWVjaG8gIlNvcnJ5
	LCBjb3VsZCBub3QgY3JlYXRlIFwiRXh0ZW5zaW9ucy5ta2V4dFwiIgoJICAgIAkJCQkJ
	ZWNobwoJICAgIAkJCQkJcmV0dXJuCgkgICAgCQkJZmkKCQlmaQoJZWxzZQoJCXByaW50
	ZiAiTm90aGluZyB0byBkbyAtLSBLZXh0IGZpbGVzIG5vdCBmb3VuZC5cbiIKCQlwcmlu
	dGYgIlxuIgpmaQp9IAoKdW5wYWNrTWtleHQoKQl7CgpjYXQgPDxFT0YKVGFzazogVW5Q
	YWNrICIke0Z1bGxEcm9wTmFtZX0iCiAgICAgICAgICB0byAiJHtIb21lRGlyfS9EZXNr
	dG9wLyR7QmFzZURyb3BOYW1lfV9jb250ZW50IgpFT0YKCWVjaG8KCglwcmludGYgIlNl
	YXJjaCBcIiR7QmFzZURyb3BOYW1lfV9jb250ZW50XCIgLi4uICIKCglpZiBbIC1kICIk
	e0hvbWVEaXJ9L0Rlc2t0b3AvJHtCYXNlRHJvcE5hbWV9X2NvbnRlbnQiIF0KCQl0aGVu
	CgkJCXByaW50ZiAiRm91bmQuXG4iCgkJCXJtIC1yZiAiJHtIb21lRGlyfS9EZXNrdG9w
	LyR7QmFzZURyb3BOYW1lfV9jb250ZW50LmJhayIKCQkJZWNobwoJCQlwcmludGYgIkJh
	Y2tVcCBcIiR7QmFzZURyb3BOYW1lfV9jb250ZW50XCIgdG8gXCIke0Jhc2VEcm9wTmFt
	ZX1fY29udGVudC5iYWtcIiAuLi4gIgoJCQltdiAtZiAiJHtIb21lRGlyfS9EZXNrdG9w
	LyR7QmFzZURyb3BOYW1lfV9jb250ZW50LyIgIiR7SG9tZURpcn0vRGVza3RvcC8ke0Jh
	c2VEcm9wTmFtZX1fY29udGVudC5iYWsvIiAKCQkJcHJpbnRmICJEb25lLlxuIgoJCQlt
	a2RpciAtcCAtbSA3NzUgIiR7SG9tZURpcn0vRGVza3RvcC8ke0Jhc2VEcm9wTmFtZX1f
	Y29udGVudCIKCQkJZWNobwoJCWVsc2UKCQkJcHJpbnRmICJOb3QgRm91bmQuXG4iCgkJ
	CWVjaG8KCQkJbWtkaXIgLXAgLW0gNzc1ICIke0hvbWVEaXJ9L0Rlc2t0b3AvJHtCYXNl
	RHJvcE5hbWV9X2NvbnRlbnQiCglmaQoJCQlwcmludGYgIlVuUGFja2luZyBcIiR7QmFz
	ZURyb3BOYW1lfVwiIC4uLiAiCgoJbWtleHR1bnBhY2sgLXYgLWQgIiR7SG9tZURpcn0v
	RGVza3RvcC8ke0Jhc2VEcm9wTmFtZX1fY29udGVudCIgIiRGdWxsRHJvcE5hbWUiIDI+
	IC9kZXYvbnVsbAoJcHJpbnRmICJEb25lLlxuIgoJZWNobwoKfQoKSW5zdGFsbEtleHQo
	KSB7CgoJRnVsbERyb3BOYW1lPSQxCglEaXJEcm9wTmFtZT0kKGRpcm5hbWUgIiR7RnVs
	bERyb3BOYW1lfSIpIAoJQmFzZURyb3BOYW1lPSQoYmFzZW5hbWUgIiR7RnVsbERyb3BO
	YW1lfSIpCglEaXJGaWxlc05hbWU9IiR7V29ya0RpcjF9IgoKS2V4dEFyY2g9JChrZXh0
	ZmluZCAtbm8tcGF0aHMgIiR7RnVsbERyb3BOYW1lfSIgLXByaW50MCAtZWNobyAtbiAi
	IChhcmNoZXMpICIgLXBhKQoKY2F0IDw8RU9GClRhc2s6IEluc3RhbGwgIiR7S2V4dEFy
	Y2h9IgogICAgICAgICAgIHRvICIke1dvcmtEaXIxfSIKICAgICAgICAgCkVPRgoKCU9s
	ZElGUz0kSUZTICAgIyBzYXZlIG9sZCAkSUZTCglJRlM9JCdcbicgICAgICMgbmV3ICRJ
	RlMgIAoKICAgIGZvciBGaWxlcyBpbiAkKGZpbmQgIiR7V29ya0RpcjF9IiAtbmFtZSAi
	JHtCYXNlRHJvcE5hbWV9IikKCSAgICBkbwoKCQlEaXJGaWxlc05hbWU9JChkaXJuYW1l
	ICIke0ZpbGVzfSIpIAoJCXByaW50ZiAiRm91bmQgZXhpc3RpbmcgXCIke0ZpbGVzfVwi
	XG4iCgkJcHJpbnRmICJcbiIKCgkJaWYgWyAtZSAiJHtEaXJGaWxlc05hbWV9LyR7QmFz
	ZURyb3BOYW1lfS5iYWsiIF0KCQkJdGhlbgoJCQkJcm0gLXJmICIke0RpckZpbGVzTmFt
	ZX0vJHtCYXNlRHJvcE5hbWV9LmJhayIKCQlmaQoKCQlwcmludGYgIkJhY2tVcCA6IFwi
	JHtCYXNlRHJvcE5hbWV9XCIgdG8gXCIke0Jhc2VEcm9wTmFtZX0uYmFrXCIgLi4uICIK
	CgkJaWYgbXYgLWYgIiR7RGlyRmlsZXNOYW1lfS8ke0Jhc2VEcm9wTmFtZX0iICIke0Rp
	ckZpbGVzTmFtZX0vJHtCYXNlRHJvcE5hbWV9LmJhayIKCQkJdGhlbgoJCQkJcHJpbnRm
	ICJEb25lLlxuIgoJCQllbHNlCgkJCQlwcmludGYgIkVycm9yLlxuIgoJCWZpCgkJcHJp
	bnRmICJcbiIKCiAgICAgICAgZG9uZQoJCglJRlM9JE9sZElGUyAgICMgcmV0dXJuIG9s
	ZCAkSUZTCgpwcmludGYgIkluc3RhbGw6IFwiJHtCYXNlRHJvcE5hbWV9XCIgLi4uICIK
	CmlmIGNwIC1SZiAiJHtGdWxsRHJvcE5hbWV9IiAiJHtEaXJGaWxlc05hbWV9IgoJdGhl
	bgoJCXByaW50ZiAiT0suXG4iCgllbHNlCgkJcHJpbnRmICJDYW4ndCBjb3B5IHNvdXJj
	ZSBmaWxlLlxuIgoJCXJldHVybiAxCmZpCQkKCnByaW50ZiAiXG4iCgpTZXRQZXJtaXNz
	aW9uc01vZCAiJHtEaXJGaWxlc05hbWV9LyR7QmFzZURyb3BOYW1lfSIKIwp0b3VjaCAi
	JHtEaXJGaWxlc05hbWV9LyR7QmFzZURyb3BOYW1lfSIKCn0KCnNhdmVFeGl0KCkgewoK
	cHJpbnRmICJTeW5jaW5nIGRpc2sgY2FjaGUgLi4uICIKc3luYwpwcmludGYgIkRvbmUu
	XG4iCn0KCmVuZFByb2dyYW0oKSB7CmVjaG8KZWNobyAiQWxsIGRvbmUuIgplY2hvICJI
	YXZlIGEgbmljZSAuLi4gZGF5KG5pZ2h0KSIKcHJpbnRmICJFbmpveSAuLi5cblxhIgpl
	eGl0Cn0KCmNoZWNrRmlsZUV4aXN0KCkgewoKaWYgW1sgLWUgIiQxIiBdXQoJdGhlbgoJ
	ZWNobyAiXCIkMVwiIGV4aXN0IgoJCXJldHVybiAwCgllbHNlCgllY2hvICJcIiQxXCIg
	bm90IGV4aXN0IgoJCXJldHVybiAxCmZpCn0KCm1haW4oKSB7CgpjYXQgPDxFT0YKVGFz
	azogRnVsbCBzZXJ2aWNlIGZvciAiJHtXb3JrRGlyMX0iCiAgICAgICAgICAgICAgICAg
	ICBhbmQgIiR7V29ya0RpcjJ9IiBmb2xkZXJzLgogICAgICAgICAKRU9GCgojIE11c3Qg
	d29yayBPSyAtIG5vdGhpbmcgYmFkIHdpdGggZGlyIGNoYW5naW5nClNldFBlcm1pc3Np
	b25zTW9kICIke1dvcmtEaXIxfSIKCiMgUmVtb3ZlIHNsZWVwaW1hZ2UgZmlsZQoKaWYg
	WyAtZiAiL3ByaXZhdGUvdmFyL3ZtL3NsZWVwaW1hZ2UiIF0KICAgIHRoZW4KICAgICAg
	ICBwcmludGYgIlByZXZlbnRpdmUgcmVtb3ZhbCBzbGVlcGltYWdlIGZpbGUgLi4uICIK
	ICAgICAgICBybSAtcmYgIi9wcml2YXRlL3Zhci92bS9zbGVlcGltYWdlIgogICAgICAg
	IHByaW50ZiAiRG9uZS5cbiIKCQllY2hvCmZpCgoKIyBXYWl0aW5nIHN5c3RlbSByZWJ1
	aWxkIGtleHRzIGNhY2hlCgpTeXN0ZW1DYWNoZVVwZGF0ZQoKZWNobwoKcHJpbnRmICJT
	ZWFyY2ggXCIvRXh0cmEvRXh0ZW5zaW9ucy9cIiBmb2xkZXIgLi4uICIKIwppZiBbIC1k
	IC9FeHRyYS9FeHRlbnNpb25zIF0KICAgIHRoZW4KICAgICAgICBwcmludGYgIkZvdW5k
	LlxuIgojICAgICAgICBwYWNrTWtleHQgIiR7V29ya0RpcjJ9IgogICAgZWxzZQogICAg
	ICAgIHByaW50ZiAiTm90IEZvdW5kLlxuIgogICAgICAgIGVjaG8KZmkKCn0KCiMjIyMj
	IyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjCiMjIyMjIyBT
	dGFydCBtYWluIHNjcmlwdCBleGVjdXRpb24gcm91dGluZSAjIyMjCiMjIyMjIyMjIyMj
	IHNjcmlwdCBleGVjdXRpb24gcm91dGluZSAjIyMjIyMjIyMjCiMjIyMjIyMjIyMjIyMj
	IyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjCgoKaWYgWyAtbiAiJHtGdWxs
	RHJvcE5hbWV9IiBdCgl0aGVuCgoJCWNhc2UgIiR7QmFzZURyb3BOYW1lfSIgaW4KCQkJ
	Ki5ta2V4dCkKCQkJCW1lbW9NU0cKCQkJCVN5c3RlbVNwZWNNU0cKCQkJCVN0YXJ0TVNH
	CiMJCQkJZWNobyAiJHtCYXNlRHJvcE5hbWV9IgoJCQkJdW5wYWNrTWtleHQgIiR7RnVs
	bERyb3BOYW1lfSIKCQkJCXNhdmVFeGl0CgkJCQllbmRQcm9ncmFtCgkJCQk7OwoKCQkJ
	Ki5rZXh0fCoucHBwfCoucGx1Z2lufCouYnVuZGxlKQoJCQkJbWVtb01TRwoJCQkJU3lz
	dGVtU3BlY01TRwoJCQkJU3RhcnRNU0cKCQkJCWk9MgoJCQkJd2hpbGUgWyAkaSAtbGUg
	JCMgXQoJCQkJZG8KCQkJCQlJbnN0YWxsS2V4dCAgIiQoZXZhbCAiZWNobyBcJHskaX0i
	KSIKCQkJCQkJCWk9YGV4cHIgJGkgKyAxYAoJCQkJZG9uZQoJCQkJU3lzdGVtQ2FjaGVV
	cGRhdGUKCQkJCWVjaG8KCQkJCXNhdmVFeGl0CgkJCQllbmRQcm9ncmFtCgkJCQk7OwoJ
	CgkJCSopCiAgICAgICAgICAgIAkjIGlmIGZpbGUgaXMgZGlyZWN0b3J5IHRoZW4gcGFj
	ayBpdAogICAgICAgICAgICAJaWYgWyAtZCAiJEZ1bGxEcm9wTmFtZSIgXQogICAgICAg
	ICAgICAgICAgICAgIHRoZW4KCQkJCSAgICAgICAgbWVtb01TRwoJCQkJICAgICAgICBT
	eXN0ZW1TcGVjTVNHCgkJCQkJCVN0YXJ0TVNHCgkJCQkgICAgICAgIHBhY2tNa2V4dCAi
	JHtGdWxsRHJvcE5hbWV9IgoJCQkJICAgICAgICBzYXZlRXhpdAoJCQkJICAgICAgICBl
	bmRQcm9ncmFtCgkJCQkgICAgZWxzZQogICAgICAgIAkJCQltZW1vTVNHCiAgICAgICAg
	CQkJCXVzYWdlCiAgICAgICAgCQkJCWV4aXQKICAgICAgICAgICAgICAgIGZpCgkJZXNh
	YwoKZmkKCm1lbW9NU0cKU3lzdGVtU3BlY01TRwpTdGFydE1TRwoKbWFpbgoKc2F2ZUV4
	aXQKZW5kUHJvZ3JhbQpfEA9OU0tleWVkQXJjaGl2ZXLRCwxUcm9vdIABAAgAEQAaACMA
	LQAyADcAOgBAOTs5TTlQOVUAAAAAAAACAQAAAAAAAAANAAAAAAAAAAAAAAAAAAA5Vw==
	</data>
	<key>TextSize</key>
	<real>10</real>
</dict>
</plist>
