<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HotKeyVersion</key>
	<string>1.0</string>
	<key>HotKeyList</key>
	<array>
		<dict>
			<key>Key</key>
			<integer>31</integer>
			<key>Modifier</key>
			<real>1572864</real>
			<key>ShortCutString</key>
			<string>⌥⌘O</string>
			<key>Tag</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Key</key>
			<integer>24</integer>
			<key>Modifier</key>
			<integer>1179648</integer>
			<key>ShortCutString</key>
			<string>⇧⌘+</string>
			<key>Tag</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Key</key>
			<integer>27</integer>
			<key>Modifier</key>
			<integer>1179648</integer>
			<key>ShortCutString</key>
			<string>⇧⌘-</string>
			<key>Tag</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Key</key>
			<integer>11</integer>
			<key>Modifier</key>
			<integer>1310720</integer>
			<key>ShortCutString</key>
			<string>⌃⌘B</string>
			<key>Tag</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Key</key>
			<integer>14</integer>
			<key>Modifier</key>
			<integer>1310720</integer>
			<key>ShortCutString</key>
			<string>⌃⌘E</string>
			<key>Tag</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Key</key>
			<integer>14</integer>
			<key>Modifier</key>
			<integer>1179648</integer>
			<key>ShortCutString</key>
			<string>⇧⌘E</string>
			<key>Tag</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Key</key>
			<integer>1</integer>
			<key>Modifier</key>
			<real>1572864</real>
			<key>ShortCutString</key>
			<string>⌥⌘S</string>
			<key>Tag</key>
			<string>6</string>
		</dict>
		<dict>
			<key>Key</key>
			<integer>11</integer>
			<key>Modifier</key>
			<real>1572864</real>
			<key>ShortCutString</key>
			<string>⌥⌘B</string>
			<key>Tag</key>
			<string>7</string>
		</dict>
	</array>
</dict>
</plist>
