<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FontColor</key>
	<dict>
		<key>NavigationItemText</key>
		<array>
			<integer>148</integer>
			<integer>148</integer>
			<integer>148</integer>
			<integer>1</integer>
		</array>
		<key>NavigationItemSelectText</key>
		<array>
			<integer>72</integer>
			<integer>161</integer>
			<integer>252</integer>
			<integer>1</integer>
		</array>
		<key>AppBlockText</key>
		<array>
			<integer>128</integer>
			<integer>128</integer>
			<integer>128</integer>
			<integer>1</integer>
		</array>
		<key>AppBlockTextHover</key>
		<array>
			<integer>128</integer>
			<integer>128</integer>
			<integer>128</integer>
			<integer>1</integer>
		</array>
		<key>AppBlockTextPress</key>
		<array>
			<integer>13</integer>
			<integer>153</integer>
			<integer>252</integer>
			<integer>1</integer>
		</array>
		<key>SearchingAddressText</key>
		<array>
			<integer>200</integer>
			<integer>200</integer>
			<integer>200</integer>
			<integer>1</integer>
		</array>
		<key>TableRowFileNameColor</key>
		<array>
			<integer>204</integer>
			<integer>204</integer>
			<integer>204</integer>
			<integer>1</integer>
		</array>
		<key>TableRowDeleteFileNameColor</key>
		<array>
			<integer>102</integer>
			<integer>102</integer>
			<integer>102</integer>
			<integer>1</integer>
		</array>
		<key>TableRowFileSizeColor</key>
		<array>
			<integer>128</integer>
			<integer>128</integer>
			<integer>128</integer>
			<integer>1</integer>
		</array>
		<key>TableRowTaskStopTextColor</key>
		<array>
			<integer>128</integer>
			<integer>128</integer>
			<integer>128</integer>
			<integer>1</integer>
		</array>
		<key>AllDownloadSpeedTextColor</key>
		<array>
			<integer>150</integer>
			<integer>150</integer>
			<integer>150</integer>
			<integer>1</integer>
		</array>
		<key>BlueTextColor</key>
		<array>
			<integer>21</integer>
			<integer>141</integer>
			<integer>251</integer>
			<integer>1</integer>
		</array>
		<key>DownloadFailedTextColor</key>
		<array>
			<integer>211</integer>
			<integer>46</integer>
			<integer>46</integer>
			<integer>1</integer>
		</array>
		<key>RecycleDeleteFileNameColor</key>
		<array>
			<integer>115</integer>
			<integer>115</integer>
			<integer>115</integer>
			<integer>1</integer>
		</array>
		<key>RecycleFileCountTextColor</key>
		<array>
			<integer>153</integer>
			<integer>153</integer>
			<integer>153</integer>
			<integer>1</integer>
		</array>
		<key>RecycleTitleTextColor</key>
		<array>
			<integer>217</integer>
			<integer>217</integer>
			<integer>217</integer>
			<integer>1</integer>
		</array>
		<key>Description</key>
		<string>字体的颜色- 使用RGBA:分别代表红，绿，蓝，透明度。保存在一个数组中</string>
	</dict>
	<key>BorderColor</key>
	<dict>
		<key>AppBlockViewHover</key>
		<array>
			<integer>13</integer>
			<integer>153</integer>
			<integer>252</integer>
			<integer>1</integer>
		</array>
		<key>AppBlockViewPress</key>
		<array>
			<integer>13</integer>
			<integer>153</integer>
			<integer>252</integer>
			<integer>1</integer>
		</array>
		<key>Description</key>
		<string>边框的颜色- 使用RGBA:分别代表红，绿，蓝，透明度。保存在一个数组中</string>
	</dict>
	<key>BackgroundColor</key>
	<dict>
		<key>AppBlockIconView</key>
		<array>
			<integer>36</integer>
			<integer>36</integer>
			<integer>36</integer>
			<integer>1</integer>
		</array>
		<key>AppBlockIconViewHover</key>
		<array>
			<integer>36</integer>
			<integer>36</integer>
			<integer>36</integer>
			<integer>1</integer>
		</array>
		<key>AppBlockIconViewPress</key>
		<array>
			<integer>42</integer>
			<integer>51</integer>
			<integer>61</integer>
			<integer>1</integer>
		</array>
		<key>AppBlockTextBackgroundView</key>
		<array>
			<integer>33</integer>
			<integer>33</integer>
			<integer>33</integer>
			<integer>1</integer>
		</array>
		<key>AppBlockTextBackgroundViewHover</key>
		<array>
			<integer>33</integer>
			<integer>33</integer>
			<integer>33</integer>
			<integer>1</integer>
		</array>
		<key>AppBlockTextBackgroundViewPress</key>
		<array>
			<integer>33</integer>
			<integer>33</integer>
			<integer>33</integer>
			<integer>1</integer>
		</array>
		<key>ContentView</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>1</integer>
		</array>
		<key>TitleView</key>
		<array>
			<integer>40</integer>
			<integer>40</integer>
			<integer>40</integer>
			<real>1</real>
		</array>
		<key>SearchingAddressView</key>
		<array>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<real>1</real>
		</array>
		<key>SearchingAddressProgress</key>
		<array>
			<integer>64</integer>
			<integer>64</integer>
			<integer>64</integer>
			<real>1</real>
		</array>
		<key>TableBackgroudColor</key>
		<array>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>1</integer>
		</array>
		<key>StateBarBackgroudColor</key>
		<array>
			<integer>38</integer>
			<integer>38</integer>
			<integer>38</integer>
			<integer>1</integer>
		</array>
		<key>MaskViewBackgroudColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.6</real>
		</array>
		<key>TableRowNormalColor</key>
		<array>
			<integer>38</integer>
			<integer>38</integer>
			<integer>38</integer>
			<integer>1</integer>
		</array>
		<key>TableRowSelectColor</key>
		<array>
			<integer>42</integer>
			<integer>51</integer>
			<integer>61</integer>
			<integer>1</integer>
		</array>
		<key>TableRowHoverColor</key>
		<array>
			<integer>46</integer>
			<integer>46</integer>
			<integer>46</integer>
			<integer>1</integer>
		</array>
		<key>TableRowSplitLineColor</key>
		<array>
			<integer>49</integer>
			<integer>49</integer>
			<integer>49</integer>
			<integer>1</integer>
		</array>
		<key>ProgressViewForegroudColor</key>
		<array>
			<integer>16</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>1</integer>
		</array>
		<key>ProgressViewBackgroudColor</key>
		<array>
			<integer>23</integer>
			<integer>156</integer>
			<integer>254</integer>
			<integer>1</integer>
		</array>
		<key>ScrollerKnobColor</key>
		<array>
			<integer>42</integer>
			<integer>42</integer>
			<integer>42</integer>
			<integer>1</integer>
		</array>
		<key>RecycleScrollerKnobColor</key>
		<array>
			<integer>64</integer>
			<integer>64</integer>
			<integer>64</integer>
			<integer>1</integer>
		</array>
		<key>RecycleTableBackgroudColor</key>
		<array>
			<integer>36</integer>
			<integer>36</integer>
			<integer>36</integer>
			<integer>1</integer>
		</array>
		<key>RecycleTableRowNormalColor</key>
		<array>
			<integer>51</integer>
			<integer>51</integer>
			<integer>51</integer>
			<integer>1</integer>
		</array>
		<key>RecycleTableRowSelectColor</key>
		<array>
			<integer>42</integer>
			<integer>51</integer>
			<integer>61</integer>
			<integer>1</integer>
		</array>
		<key>RecycleTableRowHoverColor</key>
		<array>
			<integer>59</integer>
			<integer>59</integer>
			<integer>59</integer>
			<integer>1</integer>
		</array>
		<key>ShadowColor</key>
		<array>
			<integer>35</integer>
			<integer>35</integer>
			<integer>35</integer>
			<integer>0</integer>
		</array>
		<key>Description</key>
		<string>背景的颜色- 使用RGBA:分别代表红，绿，蓝，透明度。保存在一个数组中</string>
	</dict>
	<key>Images</key>
	<dict>
		<key>Description</key>
		<string>图片的文件名，不包含后缀</string>
		<key>NavgationIcon</key>
		<dict>
			<key>Description</key>
			<string>导航栏的所有Icon</string>
			<key>Feature</key>
			<string>nav_home</string>
			<key>FeatureSelect</key>
			<string>nav_home_sel</string>
			<key>Downloading</key>
			<string>nav_downloading</string>
			<key>DownloadingSelect</key>
			<string>nav_downloading_sel</string>
			<key>Completion</key>
			<string>nav_complete</string>
			<key>CompletionSelect</key>
			<string>nav_complete_sel</string>
			<key>Application</key>
			<string>nav_apps</string>
			<key>ApplicationSelect</key>
			<string>nav_apps_sel</string>
			<key>Searching</key>
			<string>nav_search</string>
			<key>SearchingSelect</key>
			<string>nav_search_sel</string>
			<key>Switching</key>
			<string>sw_skin</string>
		</dict>
		<key>Community</key>
		<dict>
			<key>Description</key>
			<string>用户头像信息等</string>
			<key>DefaultUserIcon</key>
			<string>default_user_icon</string>
			<key>AnimationFrame-1</key>
			<string>loginAnimation_1</string>
			<key>AnimationFrame-2</key>
			<string>loginAnimation_2</string>
			<key>AnimationFrame-3</key>
			<string>loginAnimation_3</string>
			<key>AnimationFrame-4</key>
			<string>loginAnimation_4</string>
			<key>AnimationFrame-5</key>
			<string>loginAnimation_5</string>
			<key>AnimationFrame-6</key>
			<string>loginAnimation_6</string>
			<key>AnimationFrame-7</key>
			<string>loginAnimation_7</string>
			<key>AnimationFrame-8</key>
			<string>loginAnimation_8</string>
			<key>AnimationFrame-9</key>
			<string>loginAnimation_9</string>
			<key>AnimationFrame-10</key>
			<string>loginAnimation_10</string>
			<key>AnimationFrame-11</key>
			<string>loginAnimation_11</string>
			<key>AnimationFrame-12</key>
			<string>loginAnimation_12</string>
		</dict>
		<key>AppBlockIcon</key>
		<dict>
			<key>Description</key>
			<string>应用页里面的所有Icon</string>
		</dict>
		<key>ToolbarIcon</key>
		<dict>
			<key>Description</key>
			<string>导航栏显示的按钮的背景图片</string>
			<key>BackButton</key>
			<string>tb_back</string>
			<key>BackButtonPress</key>
			<string>tb_back_press</string>
			<key>ForwardButtonPress</key>
			<string>tb_forward_press</string>
			<key>ForwardButton</key>
			<string>tb_forward</string>
			<key>HomeButton</key>
			<string>tb_home</string>
			<key>HomeButtonPress</key>
			<string>tb_home_press</string>
			<key>ReloadButton</key>
			<string>tb_reload</string>
			<key>ReloadButtonPress</key>
			<string>tb_reload_press</string>
			<key>StopButton</key>
			<string>tb_stop</string>
			<key>StopButtonPress</key>
			<string>tb_stop_press</string>
			<key>NewTaskButton</key>
			<string>tb_newtask</string>
			<key>NewTaskButtonPress</key>
			<string>tb_newtask_press</string>
			<key>RemoveTaskButton</key>
			<string>tb_removetask</string>
			<key>RemoveTaskButtonPress</key>
			<string>tb_removetask_press</string>
			<key>SortTaskButton</key>
			<string>tb_sorttask</string>
			<key>SortTaskButtonPress</key>
			<string>tb_sorttask_press</string>
			<key>StartTaskButton</key>
			<string>tb_starttask</string>
			<key>StartTaskButtonPress</key>
			<string>tb_starttask_press</string>
			<key>StopTaskButton</key>
			<string>tb_stoptask</string>
			<key>StopTaskButtonPress</key>
			<string>tb_stoptask_press</string>
		</dict>
		<key>TableViewIcon</key>
		<dict>
			<key>Description</key>
			<string>正在下载和已完成所有图标</string>
			<key>BxbbButton</key>
			<string>ta_bxbb_normal</string>
			<key>BxbbButtonPress</key>
			<string>ta_bxbb_press</string>
			<key>OpenDirButton</key>
			<string>ta_opendir_normal</string>
			<key>OpneDirButtonPress</key>
			<string>ta_opendir_press</string>
			<key>RemoveButton</key>
			<string>ta_remove_normal</string>
			<key>RemoveButtonPress</key>
			<string>ta_remove_press</string>
			<key>DocOpenButton</key>
			<string>ta_docopen_normal</string>
			<key>DocOpenButtonPress</key>
			<string>ta_docopen_press</string>
			<key>PlayvideoButton</key>
			<string>ta_playvideo_normal</string>
			<key>PlayvideoButtonPress</key>
			<string>ta_playvideo_press</string>
			<key>StartDownloadButton</key>
			<string>ta_startdownload_normal</string>
			<key>StartDownloadButtonPress</key>
			<string>ta_startdownload_press</string>
			<key>StopDownloadButton</key>
			<string>ta_stopdownload_normal</string>
			<key>StopDownloadButtonPress</key>
			<string>ta_stopdownload_press</string>
			<key>SubtitleButton</key>
			<string>ta_subtitle_normal</string>
			<key>SubtitleButtonPress</key>
			<string>ta_subtitle_press</string>
			<key>ShceduleButton</key>
			<string>ta_schedule_normal</string>
			<key>ShceduleButtonPress</key>
			<string>ta_schedule_press</string>
			<key>CompleteBackgroud</key>
			<string>ta_complete_backgroud</string>
			<key>DownloadBackgroud</key>
			<string>ta_download_backgroud</string>
		</dict>
		<key>RecyclebinIcon</key>
		<dict>
			<key>Description</key>
			<string>垃圾箱面板图标</string>
			<key>EnterButton</key>
			<string>re_enter_normal</string>
			<key>EnterButtonPress</key>
			<string>re_enter_press</string>
			<key>DeleteButton</key>
			<string>re_delete_normal</string>
			<key>DeleteButtonPress</key>
			<string>re_delete_press</string>
			<key>RecoverButton</key>
			<string>re_recover_normal</string>
			<key>RecoverButtonPress</key>
			<string>re_recover_press</string>
			<key>RecycleBackgroud</key>
			<string>re_backgroud</string>
			<key>ToolbarClear</key>
			<string>tr_clear</string>
			<key>ToolbarClearPress</key>
			<string>tr_clear_press</string>
			<key>ToolbarDelelte</key>
			<string>tr_delete</string>
			<key>ToolbarDeleltePress</key>
			<string>tr_delete_press</string>
			<key>ToolbarRecover</key>
			<string>tr_recover</string>
			<key>ToolbarRecoverPress</key>
			<string>tr_recover_press</string>
			<key>ToolbarSort</key>
			<string>tr_sort</string>
			<key>ToolbarSortPress</key>
			<string>tr_sort_press</string>
		</dict>
	</dict>
	<key>Themes</key>
	<dict>
		<key>Description</key>
		<string>皮肤设置相关的主题设置</string>
		<key>TItleBarVisualEffectMaterial</key>
		<integer>0</integer>
		<key>TItleBarVisualEffectBlendingMode</key>
		<integer>1</integer>
		<key>SkinInformation</key>
		<dict>
			<key>skin</key>
			<string>黑底白字</string>
			<key>color</key>
			<string>酷黑</string>
			<key>imag_page_url</key>
			<string>无</string>
		</dict>
	</dict>
</dict>
</plist>
