<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cd_background</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>225.00987243652344</real>
		<key>color</key>
		<false/>
		<key>cornerRadius</key>
		<integer>0</integer>
		<key>enabled</key>
		<false/>
		<key>full</key>
		<false/>
		<key>green</key>
		<real>234.94984436035156</real>
		<key>image</key>
		<true/>
		<key>imageAlpha</key>
		<real>100</real>
		<key>is3D</key>
		<true/>
		<key>picture</key>
		<string></string>
		<key>red</key>
		<real>235.36622619628906</real>
		<key>tile</key>
		<false/>
	</dict>
	<key>cd_badges</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>90.848114013671875</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>177.64764404296875</real>
		<key>red</key>
		<real>255</real>
		<key>trash</key>
		<true/>
	</dict>
	<key>cd_border</key>
	<dict>
		<key>alpha</key>
		<real>80</real>
		<key>blue</key>
		<real>247.3411865234375</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>255</real>
		<key>red</key>
		<real>253.94680786132812</real>
		<key>size</key>
		<integer>1</integer>
	</dict>
	<key>cd_darkenInactive</key>
	<false/>
	<key>cd_darkenMouseOver</key>
	<true/>
	<key>cd_folders</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>90.848114013671875</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>177.64764404296875</real>
		<key>red</key>
		<real>255</real>
	</dict>
	<key>cd_iconCloseReflection</key>
	<false/>
	<key>cd_iconOpenReflection</key>
	<false/>
	<key>cd_iconReflection</key>
	<false/>
	<key>cd_iconshadow</key>
	<dict>
		<key>alpha</key>
		<real>50</real>
		<key>blue</key>
		<real>174</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>71</real>
		<key>red</key>
		<real>255</real>
		<key>size</key>
		<integer>10</integer>
	</dict>
	<key>cd_indicator</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>66.432762145996094</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>66.433723449707031</real>
		<key>height</key>
		<integer>4</integer>
		<key>image</key>
		<false/>
		<key>picture</key>
		<false/>
		<key>red</key>
		<real>66.431938171386719</real>
		<key>resize</key>
		<false/>
		<key>width</key>
		<integer>4</integer>
	</dict>
	<key>cd_labels</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>228.99404907226562</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>21.698123931884766</real>
		<key>red</key>
		<real>153.31309509277344</real>
		<key>show</key>
		<true/>
	</dict>
	<key>cd_mission</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>90.848114013671875</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>expand</key>
		<true/>
		<key>green</key>
		<real>177.64764404296875</real>
		<key>red</key>
		<real>255</real>
	</dict>
	<key>cd_separator</key>
	<dict>
		<key>alpha</key>
		<real>79.772689819335938</real>
		<key>blue</key>
		<real>240.60221862792969</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>full</key>
		<false/>
		<key>green</key>
		<real>249.98893737792969</real>
		<key>red</key>
		<real>249.61286926269531</real>
	</dict>
	<key>cd_showFinder</key>
	<true/>
	<key>cd_showFrost</key>
	<false/>
	<key>cd_showGlass</key>
	<false/>
	<key>cd_showTrash</key>
	<true/>
	<key>cd_switcher</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>90.848114013671875</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>177.64764404296875</real>
		<key>red</key>
		<real>255</real>
	</dict>
</dict>
</plist>
